.login-background {
  overflow: hidden;

  #page {
    background-image: url([[pix:theme|bg/1]]);
    background-size: cover;
    background-position: right center;

    &::before {
      background: linear-gradient(rgba($color: $black, $alpha: 0.8), rgba($color: $black, $alpha: 0.25));
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
    }

    .login-logo {
      height: 80px;

      #logoimage {
        cursor: pointer;
      }
    }

    .login-form-submit,
    .login-form-forgotpassword {
      display: inline-block;
    }

    .login-form-forgotpassword {
      float: right;
      padding-top: .75rem;

      &::after {
        clear: both;
        content: '';
      }
    }

    h2.login-heading {
      font-size: 1rem;
      font-weight: normal;
    }

    #loginguestbtn,
    .back-to-login {
      background-color: transparent;
      border: 0;
      color: $primary;
      padding: 0;
      font-size: 1rem;
      padding: 0;
      border-radius: 0;

      &:hover {
        text-decoration: underline;
      }

      &:focus {
        outline: .2rem solid transparent;
        color: #1d2125;
        background-color: rgba($color: $primary, $alpha: .25);
        box-shadow: 0 -.2rem rgba($color: $primary, $alpha: .25), 0 .2rem darken($color: $primary, $amount: 5%);

        &:hover {
          text-decoration: none;
        }
      }
    }

    .d-flex {
      width: 100%;
      justify-content: space-between;
      align-content: center;
    }

    #page-content {
      margin: auto;
    }

    .login-container {
      border-radius: .5rem;
      padding: 2rem;
      transition: padding .3s ease-in;
    }

    @media (max-width: 575.98px) {
      .login-container {
        padding: 1.5rem;
      }
    }

    label {
      white-space: nowrap;
    }

    @media (min-width: 576px) {
      .form-inline .form-control {
        display: block;
        width: 100%;
      }
    }

    .mform fieldset:last-child {
      border-bottom: 0;
    }
  }

  #page-footer {
    position: relative;
  }

  @media (min-width: 768px) {
    &[class*="login-position-"]:not(.login-position-center) {
      #page {
        padding-right: 0;
        padding-left: 0;

        #region-main-box {
          background-color: $white;

          .login-container {
            box-shadow: none;
            padding: 0;
            border-radius: 0;
          }
        }
      }
    }

    &.login-position-left {
      #page-content {
        margin-left: 0 !important;
      }
    }

    &.login-position-right {
      #page {
        background-position-x: -400px;
      }

      #page-content {
        margin-right: 0 !important;
      }
    }
  }
}