@import "preset";
@import "utilities";
@import "navbar";
@import "frontpage";
@import "login";

body {
  background-color: #f2f3f7 !important;
}

@media (min-width: 1200px) {
  .container-fluid {
    max-width: 90vw;
  }

  .container {
    max-width: 75vw;
  }
}

@media (min-width: 768px) {
  #page.drawers .main-inner {
    padding: 1.5rem 2.5rem;
  }
}

#page {

  // footer debugging
  #page-footer {
    background-color: transparent !important;
    max-width: 100% !important;
    margin-top: 1rem;

    .footer-content-debugging:has(.container-fluid div) {
      border-radius: .5rem;
      padding-top: .5rem;
    }
  }
}

#page-header {
  padding: 0;
  margin-bottom: .75rem;
}

#page-content {

  #region-main {
    margin-top: 1rem;

    .navitem.dropdown #moreactionsmenu {
      right: 0;
      left: auto !important;
    }

    h2 {
      margin-left: 15px;
    }

    div[role="main"] h2 {
      margin-left: 0;
    }

    #user-notifications {
      overflow: visible;

      .alert {
        margin: 0 1rem .5rem 1rem;
      }
    }

    #message-user-button {
      border-radius: .5rem;
    }

  }

}

.btn-footer-popover {
  background-color: $primary !important;
  box-shadow: $box-shadow-sm;
  color: $white !important;

  &.bg-secondary {
    background-color: $primary !important;
  }

  &.bg-secondary:hover,
  &.bg-secondary:focus {
    background-color: darken($color: $primary, $amount: 7.5%) !important;
  }

  &.bg-secondary:focus {
    box-shadow: 0 0 0 .2rem rgba($color: $primary, $alpha: 0.5);
  }
}

@media (min-width: 768px) {
  .header-maxwidth {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

// Message
a[data-conversation-id] {
  &:hover {
    color: initial !important;
  }
}

.content-message-container {

  [data-region="selected-icon"],
  [data-region="not-selected-icon"] {
    margin-left: 0 !important;
  }

  .text-right.time {
    position: absolute;
    right: .5rem;
    top: .5rem;
  }
}

.message-app .message.send {
  margin-right: 1rem !important;
}

// Chat emoji
.emoji-picker {

  .form-control:focus,
  .btn:focus {
    box-shadow: none;
    border-color: $secondary !important;
  }
}

// Secondary navigation
.secondary-navigation {
  padding-bottom: 0;
  margin: auto .5rem;
  margin-bottom: 1rem;
  border-radius: .5rem;

  .navigation {
    border-radius: .5rem;
    border: 1px solid rgba($color: $black, $alpha: .125);
    height: 62px;
  }

  @media (min-width: 768px) {
    .navigation {
      padding: 0 calc(0.5rem);
    }
  }

  .nav-tabs {
    max-width: 100% !important;
  }

  .nav-link {
    border: 0;
    margin: auto 2px;
    transition: .1s font-weight ease-in;

    &.active {
      font-weight: bold;
    }
  }
}

// Settings form
.settingsform {
  .nav-link {
    border-radius: 0;
  }

  .nav-link:hover,
  .nav-link:focus {
    border-color: transparent;
    background-color: $gray-100;
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    border-color: transparent;
    border-bottom: 2px solid $primary;
  }

  .nav-link:focus {
    box-shadow: none;
  }
}

// page-course-index-category
// page-enrol-index
// page-course-search
#page-course-index-category,
#page-enrol-index,
#page-course-search {
  .coursebox .info {
    justify-content: space-between;
    // margin-bottom: .5rem;

    .coursename {
      font-weight: bold;
    }

    .moreinfo,
    .enrolmenticons {
      position: absolute;
    }

    &:has(.moreinfo ~ .enrolmenticons) .moreinfo {
      right: 3rem;
    }

    &:has(:not(.enrolmenticons)) .moreinfo {
      right: 1.5rem;
    }

    .enrolmenticons {
      right: 1rem;
    }

    .coursename .aalink::before {
      font-family: "Font Awesome 6 Free";
      content: "\f054";
      font-size: 12px;
      width: 1rem;
      display: inline-block;
      top: -2px !important;
      position: relative;
      color: var(--gray);
    }
  }

  .coursebox .content {

    // course thumbnail will work properly if the ratio is 16:9
    .courseimage img {
      border-radius: .5rem;
      box-shadow: $box-shadow-sm;
      max-width: 100%;
      max-height: 256px;

      // it will works properly when ratio of the image is 1:1
      // min-width: 256px;
    }

    @media (min-width: 768px) {
      .courseimage {
        width: 35%;
      }

      .flex-grow-1 {
        width: 65%;
      }
    }

    @media (max-width: 768px) {
      .courseimage img {
        max-height: 100%;
      }
    }

    @media (max-width: 575.98px) {
      div.d-flex {
        flex-wrap: wrap;
      }
    }
  }
}

// page-course-index-category
#page-course-index-category {
  #action_bar .row {
    justify-content: space-between;
  }

  .course_category_tree {
    .coursebox {
      border-radius: .5rem;
      transition: .2s background-color ease-in-out;

      &:hover {
        background-color: #f9fafc;
      }
    }

    .coursebox .info {
      .moreinfo a {
        background: $primary;
        color: $light;
        border-radius: 50%;
        padding: 0px 1px 3px 1px;
        margin: 0;
        box-shadow: $box-shadow-sm;
        height: 1rem;
        width: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &:focus {
          outline: none;
        }

        .icon {
          margin-right: 0;
          width: 12px;
          height: 12px;
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
  }
}

// page-enrol-index
#page-enrol-index {
  .generalbox.info {
    .content {
      margin-top: -15px;
    }
  }
}

// course search
#page-course-search {
  .course-search-result .coursebox {
    border: 0;
    padding: 0;
    margin-bottom: 0;
    transition: .2s background-color ease-in-out;

    &:hover {
      background-color: #f9fafc;
    }

    .content {
      margin-top: -15px;
    }
  }
}

// page-course-view-topics
// page-enrol-index 
#page-course-view-topics,
#page-enrol-index {
  .page-header-wrapper {
    position: relative;
    height: 225px;
    margin-bottom: 1.25rem;

    .course-header-bg {
      width: 100%;
      height: 100%;
    }

    .course-header-image {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;
      border-radius: .5rem;
    }

    .course-header-txt {
      position: absolute;
      display: inline-block;
      top: 10%;
      left: 1.25rem;
      padding: .8rem;
      background-color: lighten($color: $primary, $amount: 50%);
      border-radius: .5rem;
    }

    @media (max-width: 768px) {
      .course-header-txt {
        top: 0;
        left: 0;
        margin: 1rem;
        width: calc(100% - 2rem);
      }
    }
  }
}

// courses sidebar
// #courseindex {

//   .courseindex-link.text-truncate,
//   .courseindex-section .text-truncate {
//     white-space: normal !important;
//   }
// }

// static page banner
#static-page-banner {
  min-height: 320px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 1rem;
  position: relative;
  background-image: url([[pix:theme|bg/1]]);
  position: relative;
  background-position: right center;
  background-size: cover;

  &::before {
    background: linear-gradient(rgba($color: $black, $alpha: 0.6), rgba($color: $black, $alpha: 0.25));
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }

  .container {
    position: relative;
    z-index: 1;
    display: flex;
    min-height: calc(320px - 2rem);

    .overlay {
      background: rgba($black, .25);
      border-radius: .6rem;
      display: inline-block !important;
      padding: 1rem;
      min-width: 400px;
      border: 1px solid #f8f9fa38;
      text-align: center;
      margin: auto;
      box-sizing: border-box;
    }

    @media (max-width: 575.98px) {
      .overlay {
        min-width: 0;
        width: 100%;
      }
    }
  }

  @media (max-width: 768px) {
    & {
      min-height: 240px;
    }

    .container {
      min-height: calc(240px - 2rem);
    }
  }
}

@media (max-width: 767.98px) {
  .mform {
    width: 100%;
    padding: 0;
  }

  #page-content #region-main {
    margin-top: 0;
  }

  #page-content #region-main #user-notifications .alert {
    margin: 0 0rem .5rem 0rem;
  }
}