<section id="banner" class="bg-light">
    <div class="container">
        <div id="carouselBannerControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {{# slides }}
                <div class="carousel-item {{# active }} active {{/ active }}">
                    <img src="{{ image }}" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-flex justify-content-center align-items-center">
                        <div>
                            <h5>{{ title }}</h5>
                            <p class="lead">{{ caption }}</p>
                        </div>
                    </div>
                </div>
                {{/ slides }}
            </div>
            
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                {{# slides }}
                <li data-target="#carouselBannerControls" data-slide-to="{{ key }}" class="{{# active }} active {{/ active }}"></li>
                {{/ slides }}
            </ol>
        </div>
    </div>
</section>