<section id="feature" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center text-lg-left">
                <h3 class="h1">Awesome App Features</h3>
                <p>Moove is a Moodle template based on Boost with modern and creative design.</p>
            </div>
            <div class="col-lg-8 ps-xl-8">
                <div class="row mt-lg-0 mt-5">
                    <div class="col-sm-6">
                        <div class="card card-body shadow-sm border-0">
                            <div class="d-flex">
                                <div class="icon-lg text-white rounded-circle">
                                    <img src="{{ images.features.feature1 }}">
                                </div>
                                <div class="col ps-3">
                                    <h5>Challenges</h5>
                                    <div class="box-content">A challenging environment</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-lg-0 mt-3">
                        <div class="card card-body shadow-sm border-0">
                            <div class="d-flex">
                                <div class="icon-lg text-white rounded-circle">
                                    <img src="{{ images.features.feature2 }}">
                                </div>
                                <div class="col ps-3">
                                    <h5>Learderboards</h5>
                                    <div class="box-content">With gamefication elements</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-lg-5 mt-3">
                        <div class="card card-body shadow-sm border-0">
                            <div class="d-flex">
                                <div class="icon-lg text-white rounded-circle">
                                    <img src="{{ images.features.feature3 }}">
                                </div>
                                <div class="col ps-3">
                                    <h5>Collaboration</h5>
                                    <div class="box-content">Creating a live community</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-lg-5 mt-3">
                        <div class="card card-body shadow-sm border-0">
                            <div class="d-flex">
                                <div class="icon-lg text-white rounded-circle">
                                    <img src="{{ images.features.feature4 }}">
                                </div>
                                <div class="col ps-3">
                                    <h5>Activities</h5>
                                    <div class="box-content">Through its lessons</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>