<section id="our-top-courses" class="bg-white">
    <div class="{{ container_type }}">
        <div class="row mb-5">
            <div class="col-lg-6 offset-lg-3">
                <div class="main-title text-center">
                    <h3 class="h1">{{ course_title }}</h3>
                    <p>{{ course_caption }}</p>
                </div>
            </div>
        </div>

        <div class="row">
            {{# courselist }}
            <div class="col-md-6 col-lg-4 col-xl-3 mb-lg-5 mb-3">
                <div class="top_courses card rounded shadow-sm border-0 overflow-hidden">
                    <div class="card-image">
                        <img class="w-100"
                            src="{{ image_url }}"
                            alt="{{ fullname }}">
                    </div>
                    <div class="card-category px-3 py-1">
                        {{# category }}
                        <small class="badge badge-primary">{{ category }}</small>
                        {{/ category }}
                        {{^ category }}
                        <small>-</small>
                        {{/ category }}
                    </div>
                    <div class="card-body px-3 py-1">
                        <a href="/course/view.php?id={{ id }}">
                           <p class="font-weight-bold mb-0">{{ fullname }}</p>
                        </a>
                    </div>
                </div>
            </div>
            {{/ courselist }}

            <div class="col-12 text-center mt-5">
                <a href="/course" class="btn btn-outline-primary btn-lg rounded-pill px-5">View all courses</a>
            </div>
        </div>
    </div>
</section>