<section id="scholl-achievements">
    <div class="{{ container_type }}">
        <div class="row mb-5">
            <div class="col-lg-6 offset-lg-3">
                <div class="main-title text-center">
                    <h3 class="h1">{{ achievement_title }}</h3>
                    <p>{{ achievement_caption }}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6 col-lg-3 text-center">
                <div class="funfact_one">
                    <div class="ccn_icon"><i class="fas fa-chalkboard-user"></i></div>
                    <div class="details">
                        <div class="timer">{{ achievement_total_students }}</div>
                        <h5>Students</h5>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 text-center">
                <div class="funfact_one">
                    <div class="ccn_icon"><i class="fas fa-graduation-cap"></i></div>
                    <div class="details">
                        <div class="timer">{{ achievement_total_graduates }}</div>
                        <h5>Graduates</h5>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 text-center">
                <div class="funfact_one">
                    <div class="ccn_icon"><i class="fas fa-hand-holding-heart"></i></div>
                    <div class="details">
                        <div class="timer">{{ achievement_total_free_courses }}</div>
                        <h5>Free courses</h5>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 text-center">
                <div class="funfact_one">
                    <div class="ccn_icon"><span class="fas fa-tv"></span></div>
                    <div class="details">
                        <div class="timer">{{ achievement_total_active_courses }}</div>
                        <h5>Active courses</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>