<section id="testimonials" class="bg-white">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-6 offset-lg-3">
                <div class="main-title text-center">
                    <h3 class="h1">What People Say</h3>
                    <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <div id="carouselTestimonalsControls" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carouselTestimonalsControls" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselTestimonalsControls" data-slide-to="1"></li>
                    <li data-target="#carouselTestimonalsControls" data-slide-to="2"></li>
                </ol>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="media">
                                    <img src="{{ testimonials.testimonial1 }}" class="mr-3" alt="">
                                    <div class="media-body">
                                        <div class="testimonial">
                                            <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor,
                                                varius quam luctus dui. Mauris magna metus nec.</p>
                                            <p class="overview"><b>Paula Wilson</b>, Media Analyst</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="media">
                                    <img src="{{ testimonials.testimonial2 }}" class="mr-3" alt="">
                                    <div class="media-body">
                                        <div class="testimonial">
                                            <p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit
                                                tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
                                            <p class="overview"><b>Antonio Moreno</b>, Web Developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="media">
                                    <img src="{{ testimonials.testimonial3 }}" class="mr-3" alt="">
                                    <div class="media-body">
                                        <div class="testimonial">
                                            <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor,
                                                varius quam luctus dui. Mauris magna metus nec.</p>
                                            <p class="overview"><b>Michael Holz</b>, Seo Analyst</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="media">
                                    <img src="{{ testimonials.testimonial4 }}" class="mr-3" alt="">
                                    <div class="media-body">
                                        <div class="testimonial">
                                            <p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit
                                                tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
                                            <p class="overview"><b>Mary Saveley</b>, Web Designer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="media">
                                    <img src="{{ testimonials.testimonial5 }}" class="mr-3" alt="">
                                    <div class="media-body">
                                        <div class="testimonial">
                                            <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor,
                                                varius quam luctus dui. Mauris magna metus nec.</p>
                                            <p class="overview"><b>Martin Sommer</b>, UX Analyst</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="media">
                                    <img src="{{ testimonials.testimonial6 }}" class="mr-3" alt="">
                                    <div class="media-body">
                                        <div class="testimonial">
                                            <p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit
                                                tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
                                            <p class="overview"><b>John Williams</b>, Web Developer</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>