<section id="testimonials" class="bg-white">
    <div class="{{ container_type }}">
        <div class="row mb-5">
            <div class="col-lg-6 offset-lg-3">
                <div class="main-title text-center">
                    <h3 class="h1">{{ testimonial_title }}</h3>
                    <p>{{ testimonial_caption }}</p>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12">
                <div id="carouselTestimonalsControls" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    {{# testimonial_slides }}
                    <li data-target="#carouselTestimonalsControls" data-slide-to="{{ key }}" class="{{# active }} active {{/ active }}"></li>
                    {{/ testimonial_slides }}
                </ol>
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    {{# testimonial_slides }}
                    <div class="carousel-item {{# active }} active {{/ active }}">
                        <div class="row">
                            {{# user }}
                            <div class="col-sm-6">
                                <div class="media">
                                    <img src="{{ image }}" class="mr-3" alt="">
                                    <div class="media-body">
                                        <div class="testimonial">
                                            <p>{{ caption }}</p>
                                            <p class="overview"><b>{{ name }}</b>, {{ title }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/ user }}
                        </div>
                    </div>
                    {{/ testimonial_slides }}
                </div>
            </div>
        </div>
    </div>
</section>