{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{> theme_eduhub/head }}

<body {{{ bodyattributes }}}>
{{> core/local/toast/wrapper}}
<div id="page-wrapper" class="d-print-block">

    {{{ output.standard_top_of_body_html }}}

    {{> theme_eduhub/navbar }}

    <section id="banner" class="bg-light">
        <div class="container">
            <div id="carouselBannerControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ slides.slide1 }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-flex justify-content-center align-items-center">
                            <div>
                                <h5>Start Investing in You</h5>
                                <p class="lead">Technology is bringing a massive wave of evolution on learning things on different ways</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ slides.slide2 }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-flex justify-content-center align-items-center">
                            <div>
                                <h5>Start Investing in You</h5>
                                <p class="lead">Some representative placeholder content for the second slide.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="{{ slides.slide3 }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-flex justify-content-center align-items-center">
                            <div>
                                <h5>Start Investing in You</h5>
                                <p class="lead">Some representative placeholder content for the second slide.</p>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carouselBannerControls" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselBannerControls" data-slide-to="1"></li>
                    <li data-target="#carouselBannerControls" data-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </section>

    <section id="our-top-courses" class="bg-white">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-6 offset-lg-3">
                    <div class="main-title text-center">
                        <h3 class="h1">Browse Our Top Courses</h3>
                        <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                {{# courselist }}
                <div class="col-md-6 col-lg-4 col-xl-3 mb-lg-5 mb-3">
                    <div class="top_courses rounded shadow-sm border-0 overflow-hidden">
                        <a href="/course/view.php?id={{ id }}">
                            <div class="thumb">
                                <img class="img-whp w-100"
                                    src="{{ image_url }}"
                                    alt="{{ fullname }}">
                            </div>
                            <div class="details px-3">
                                <div class="overlay">
                                    {{# category }}
                                    <small>{{ category }}</small>
                                    {{/ category }}
                                    {{^ category }}
                                    <small>-</small>
                                    {{/ category }}
                                </div>
                                <div class="tc_content">
                                    <p class="font-weight-bold">{{ fullname }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {{/ courselist }}

                <div class="col-12 text-center mt-5">
                    <a href="/course" class="btn btn-outline-primary btn-lg rounded-pill px-5">View all courses</a>
                </div>
            </div>
        </div>
    </section>

    <section id="feature" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-center text-lg-left">
                    <h3 class="h1">Awesome App Features</h3>
                    <p>Moove is a Moodle template based on Boost with modern and creative design.</p>
                </div>
                <div class="col-lg-8 ps-xl-8">
                    <div class="row mt-lg-0 mt-5">
                        <div class="col-sm-6">
                            <div class="card card-body shadow-sm border-0">
                                <div class="d-flex">
                                    <div class="icon-lg text-white rounded-circle">
                                        <img src="{{ features.feature1 }}">
                                    </div>
                                    <div class="col ps-3">
                                        <h5>Challenges</h5>
                                        <div class="box-content">A challenging environment</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-lg-0 mt-3">
                            <div class="card card-body shadow-sm border-0">
                                <div class="d-flex">
                                    <div class="icon-lg text-white rounded-circle">
                                        <img src="{{ features.feature2 }}">
                                    </div>
                                    <div class="col ps-3">
                                        <h5>Learderboards</h5>
                                        <div class="box-content">With gamefication elements</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-lg-5 mt-3">
                            <div class="card card-body shadow-sm border-0">
                                <div class="d-flex">
                                    <div class="icon-lg text-white rounded-circle">
                                        <img src="{{ features.feature3 }}">
                                    </div>
                                    <div class="col ps-3">
                                        <h5>Collaboration</h5>
                                        <div class="box-content">Creating a live community</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 mt-lg-5 mt-3">
                            <div class="card card-body shadow-sm border-0">
                                <div class="d-flex">
                                    <div class="icon-lg text-white rounded-circle">
                                        <img src="{{ features.feature4 }}">
                                    </div>
                                    <div class="col ps-3">
                                        <h5>Activities</h5>
                                        <div class="box-content">Through its lessons</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="scholl-achievements">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-6 offset-lg-3">
                    <div class="main-title text-center">
                        <h3 class="h1">Scholl Achievements</h3>
                        <p>Here you can review some statistics about our Education Center</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-lg-3 text-center">
                    <div class="funfact_one">
                        <div class="ccn_icon"><i class="fas fa-chalkboard-user"></i></div>
                        <div class="details">
                            <div class="timer">1200</div>
                            <h5>Students</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 text-center">
                    <div class="funfact_one">
                        <div class="ccn_icon"><i class="fas fa-graduation-cap"></i></div>
                        <div class="details">
                            <div class="timer">2000</div>
                            <h5>Graduates</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 text-center">
                    <div class="funfact_one">
                        <div class="ccn_icon"><i class="fas fa-hand-holding-heart"></i></div>
                        <div class="details">
                            <div class="timer">200</div>
                            <h5>Free courses</h5>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-3 text-center">
                    <div class="funfact_one">
                        <div class="ccn_icon"><span class="fas fa-tv"></span></div>
                        <div class="details">
                            <div class="timer">700</div>
                            <h5>Active courses</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonials">
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-6 offset-lg-3">
                    <div class="main-title text-center">
                        <h3 class="h1">What People Say</h3>
                        <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <div id="carouselTestimonalsControls" class="carousel slide" data-ride="carousel">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carouselTestimonalsControls" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselTestimonalsControls" data-slide-to="1"></li>
                        <li data-target="#carouselTestimonalsControls" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="media">
                                        <img src="{{ testimonials.testimonial1 }}" class="mr-3" alt="">
                                        <div class="media-body">
                                            <div class="testimonial">
                                                <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor,
                                                    varius quam luctus dui. Mauris magna metus nec.</p>
                                                <p class="overview"><b>Paula Wilson</b>, Media Analyst</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="media">
                                        <img src="{{ testimonials.testimonial2 }}" class="mr-3" alt="">
                                        <div class="media-body">
                                            <div class="testimonial">
                                                <p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit
                                                    tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
                                                <p class="overview"><b>Antonio Moreno</b>, Web Developer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="media">
                                        <img src="{{ testimonials.testimonial3 }}" class="mr-3" alt="">
                                        <div class="media-body">
                                            <div class="testimonial">
                                                <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor,
                                                    varius quam luctus dui. Mauris magna metus nec.</p>
                                                <p class="overview"><b>Michael Holz</b>, Seo Analyst</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="media">
                                        <img src="{{ testimonials.testimonial4 }}" class="mr-3" alt="">
                                        <div class="media-body">
                                            <div class="testimonial">
                                                <p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit
                                                    tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
                                                <p class="overview"><b>Mary Saveley</b>, Web Designer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="media">
                                        <img src="{{ testimonials.testimonial5 }}" class="mr-3" alt="">
                                        <div class="media-body">
                                            <div class="testimonial">
                                                <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Nam eusem scelerisque tempor,
                                                    varius quam luctus dui. Mauris magna metus nec.</p>
                                                <p class="overview"><b>Martin Sommer</b>, UX Analyst</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="media">
                                        <img src="{{ testimonials.testimonial6 }}" class="mr-3" alt="">
                                        <div class="media-body">
                                            <div class="testimonial">
                                                <p>Vestibulum quis quam ut magna consequat faucibus. Pellentesque eget mi suscipit
                                                    tincidunt. Utmtc tempus dictum. Pellentesque virra.</p>
                                                <p class="overview"><b>John Williams</b>, Web Developer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="page" data-region="mainpage" data-usertour="scroller" class="drawers drag-container bg-white d-none">
        <div id="topofscroll">
            <div id="page-content" class="d-print-block main-inner">
                <div id="region-main-box">
                    <section id="region-main" aria-label="{{#str}}content{{/str}}">
                        {{{ output.main_content }}}
                    </section>
                </div>
            </div>
        </div>

        {{> theme_eduhub/footer }}
    </div>

    {{> theme_eduhub/footer }}
    
    {{{ output.standard_after_main_region_html }}}
    {{{ output.standard_end_of_body_html }}}
</div>

</body>
</html>

{{#js}}
    M.util.js_pending('theme_boost/loader');
    require(['theme_boost/loader', 'theme_boost/drawer'], function(Loader, Drawer) {
        Drawer.init();
        M.util.js_complete('theme_boost/loader');
    });
{{/js}}
